---
title: An 11ty test page
layout: base.njk

---

<div class="container">
  <h1>{{ title }}</h1>
  <div class="vibe">You are great!💗</div>
  <p><strong>Fake news:</strong></p>
  <ul>
  {% for article in news.articles %}
    <li>{{ article.title }}</li>
  {% endfor %}
  </ul>

  {# <p><strong>Real news:</strong></p>
  <ul>
  {% for article in real_news[1].articles %}
    <li class="article"><a href="{{ article.url}}">{{ article.title }}</a> 
      <div class="article__details"><span>{{article.source.name }}</span> -- 
      <span>{{article.publishedAt}}</span><div></li>
  {% endfor %}
  </ul> #}
  <h2>Saturn Cassini images:</h2>
  <div class="images">
    {% for item in NASAImages %}
      <div class="image-item">
        <div class="thumb">
          <a href="/images/{{item.nasaId}}/"><img class="thumb-img" src="{{item.thumb}}"/></a>
        </div>
        <div class="image-caption">
          {{item.title}}
        </div>
      </div>
    {% endfor %}
  </div>

  <script src="/js/index.js"></script>
</div>